<!-- =========================
LOADER

========================= --> 
<span *ngIf="isOffline==false">

  <div class="header-boy" *ngIf="(loading || iframeLoading) && showPermissionScreen==false">

    <img src="/assets/boy.gif">

  </div>

  <div class="top" *ngIf="(loading || iframeLoading) && showPermissionScreen==false">

    <h1 class="logo">

      <i>
        fast <span>Bite</span>
      </i>

    </h1>

    <strong style="margin-top: -10px;">

      Delivery in Minutes

    </strong>

  </div>

  <!-- =========================
PERMISSION SCREEN
========================= -->

  <div class="permission-screen" *ngIf="showPermissionScreen && !loading">

    <div class="permission-card">

      <div class="top">

        <h1 class="logo">

          <i>
            fast <span>Bite</span>
          </i>

        </h1>

        <strong style="margin-top: -10px;">

          Delivery in Minutes

        </strong>

      </div>

      <h2>
        Permissions Required
      </h2>

      <p>

        App properly use karne ke liye
        neeche di gayi permissions allow karni hongi.

      </p>


      <div class="permission-item">

        <span>

          🔔 Notification <small *ngIf="errnotification" style="color: red; margin-top: 5px;">
            Try again
          </small>

        </span>

        <button *ngIf="!permissions.notification" (click)="allowNotification()">



          {{ notloading ? 'Allowing...' : 'Allow' }}
        </button>

        <span class="approved" *ngIf="permissions.notification">

          Approved

        </span>

      </div>
      <!-- =========================
    LOCATION
    ========================= -->

      <div class="permission-item">

        <span>

          📍 Location <small *ngIf="!permissions.location && err" style="color: red; margin-top: 5px;">
            Try again
          </small>

        </span>

        <button *ngIf="!permissions.location" (click)="allowLocation()">


          {{ locloading ? 'Allowing...' : 'Allow' }}
        </button>

        <span class="approved" *ngIf="permissions.location">

          Approved

        </span>

      </div>
      <small *ngIf="err" style="color: red; margin-top: 5px;">
        {{err}}
      </small>
      <!-- =========================
    MICROPHONE
    ========================= -->

      <div class="permission-item">

        <span>

          🎤 Microphone <small *ngIf="errm" style="color: red; margin-top: 5px;">
            Try again
          </small>

        </span>

        <button *ngIf="!permissions.microphone" (click)="allowMicrophone()">


          {{ micloading ? 'Allowing...' : 'Allow' }}

        </button>

        <span class="approved" *ngIf="permissions.microphone">

          Approved

        </span>

      </div>

    </div>

  </div>

  <!-- =========================
WEBSITE
========================= -->

  <iframe *ngIf="safeUrl && !isOffline" [src]="safeUrl" (load)="onLoad()" allow="geolocation; microphone; camera"
    allowfullscreen class="fastBite">
  </iframe>

</span>
<div class="offline-popup" *ngIf="isOffline">
  <div class="offline-box">
    <h3>📶 No Internet</h3>
    <p>Internet Not Connected</p>
  </div>
</div>

 
 
