<br /><br /><br /><button (click)="emptydb('All')">Empty Database</button>
<br /><br /><br /><button (click)="emptydb('Order')">Empty Order</button>
<br /><br /><br /><button (click)="emptydb('Item')">Empty Item</button>
<br /><br /><br /><button (click)="emptydb('Category')">Empty Category</button>
<br /><br /><br /><button (click)="emptydb('Notification')">Empty Notification</button>
<br /><br /><br /><button (click)="emptydb('Customer')">Empty Customer</button>
<br /><br /><br /><button (click)="emptydb('Otp')">Empty Otp</button>
<br /><br /><br /><button (click)="emptydb('Store')">Empty Store</button>
<br /><br /><br /><button (click)="emptydb('StoreOwner')">Empty StoreOwner</button>
<br /><br /><br /><button (click)="emptydb('DelieveryBoy')">Empty DelieveryBoy</button>
<br /><br /><br /><button (click)="emptydb('CustomOrder')">Empty CustomOrder</button>