<div class="page">
  <div class="page-loader" *ngIf="loading">
    <div class="loader"></div>
  </div>
  <!-- HEADER -->
  <div class="header">
    <h2>Select your location</h2>
    <p>Choose your delivery area</p>
    <!-- 🔓 Logout -->
    <div class="logout-btn" (click)="logout()">
      <svg width="18" height="18" viewBox="0 0 24 24" fill="none">
        <path d="M16 17L21 12L16 7" stroke="#333" stroke-width="2" />
        <path d="M21 12H9" stroke="#333" stroke-width="2" />
        <path d="M13 21H5C4 21 3 20 3 19V5C3 4 4 3 5 3H13" stroke="#333" stroke-width="2" />
      </svg>
    </div>
  </div>

  <!-- AREA LIST -->
  <div class="area-list">

    <div class="area-card" *ngFor="let area of areas" [class.active]="selectedArea?._id === area._id"
      (click)="selectArea(area)">
      <i class="bi bi-geo-alt"></i>

      <div class="area-info" style="margin-left: 10px;">
        <h4>{{ area.areaName }}</h4>
        <span *ngIf="selectedArea?._id !== area._id">{{area.cityName}}</span>
        <span *ngIf="selectedArea?._id === area._id" style="color: #fff;">{{area.cityName}}</span>
      </div>

      <div class="check" *ngIf="selectedArea?._id === area._id">
        ✔
      </div>
    </div>

  </div>

  <!-- BUTTON -->
  <div class="bottom">
    <button [disabled]="!selectedArea" (click)="continue()">
      Continue
    </button>
  </div>

</div>