
/* PAGE */

.wallet-page {

  padding:18px;

  display:flex;

  flex-direction:column;

  gap:16px;
}

/* BALANCE */

.wallet-card {

  background:
    linear-gradient(
      135deg,
      #ffcb05,
      #ffe06b
    );

  border-radius:18px;

  padding:10px;

  text-align:center;

  box-shadow:
    0 15px 40px rgba(255,193,7,.35);
}

.wallet-icon {

  width:50px;

  height:50px;

  margin:auto;

  border-radius:50%;

  background:white;

  display:flex;

  align-items:center;

  justify-content:center;
}

.wallet-icon i {

  font-size:34px;

  color:#222;
}

.balance-label {

  margin-top:16px;

  font-size:14px;

  color:#444;
}

.balance-amount {

  margin-top:8px;

  font-size:38px;

  font-weight:800;

  color:#111;
}

/* SECTION */

.section-title {

  font-size:20px;

  font-weight:700;

  color:#222;

  margin-top:8px;
}

/* HISTORY CARD */

.history-card {

  background:
    rgba(255,255,255,.8);

  backdrop-filter:blur(12px);

  border-radius:20px;

  padding:14px;

  display:flex;

  justify-content:space-between;

  align-items:center;

  box-shadow:
    0 8px 25px rgba(0,0,0,.05);
}

.left {

  display:flex;

  align-items:center;

  gap:12px;
}

.history-icon {

  width:52px;

  height:52px;

  border-radius:16px;

  display:flex;

  align-items:center;

  justify-content:center;
}

.history-icon i {

  font-size:24px;
}

.credit {

  background:
    rgba(76,175,80,.15);

  color:#2e7d32;
}

.debit {

  background:
    rgba(244,67,54,.15);

  color:#d32f2f;
}

.reason {

  font-size:15px;

  font-weight:700;

  color:#222;
}

.date {

  margin-top:4px;

  font-size:12px;

  color:#777;
}

.amount {

  font-size:18px;

  font-weight:800;
}

.credit-text {

  color:#2e7d32;
}

.debit-text {

  color:#d32f2f;
}

/* EMPTY */

.empty-card {

  background:white;

  border-radius:20px;

  padding:40px 20px;

  text-align:center;

  color:#777;

  display:flex;

  flex-direction:column;

  gap:10px;
}

.empty-card i {

  font-size:50px;
}

/* MOBILE */

@media(max-width:768px) {

  .balance-amount {

    font-size:32px;
  }

  .history-card {

    padding:12px;
  }

  .amount {

    font-size:16px;
  }

}