.top-header{

position:sticky;
top:0;
left:0;
width:100%;
height:60px;
background:#fff;
display:flex;
align-items:center;
justify-content:center;
border-bottom:1px solid #ececec;
z-index:100;

}

.back-btn{

position:absolute;
left:14px;
width:38px;
height:38px;
border:none;
border-radius:10px;
background:#f3f4f6;
font-size:20px;
cursor:pointer;

}

.title{

font-size:18px;
font-weight:700;
color:#111827;

}

.address-page{

padding:14px;
padding-bottom:95px;
max-width:700px;
margin:auto;
box-sizing:border-box;

}

/* ADD ADDRESS BUTTON */

.add-address-btn{

width:39%;
height:52px;
border:none;
border-radius:16px;

background:#ffffff;
color:#111827;

font-size:16px;
font-weight:700;

cursor:pointer;

display:flex;
align-items:center;
justify-content:center;
gap:8px;

box-shadow:
0 2px 10px rgba(0,0,0,.06);

border:1px solid #facc15;

margin-bottom:18px;

transition:.2s;

}

.add-address-btn:active{

transform:scale(.98);

}

/* ADDRESS CARD */

.address-card{

display:flex;
gap:12px;

padding:15px;

border:2px solid #e5e7eb;
 
margin-bottom:14px;

cursor:pointer;

background:#fff;

transition:.2s;

word-break:break-word;

}

.address-card.active{

border-color:#22c55e;

background:#f0fdf4;

}

.radio{

min-width:22px;
width:22px;
height:22px;

border-radius:50%;

border:2px solid #d1d5db;

display:flex;
align-items:center;
justify-content:center;

margin-top:4px;

}

.dot{

width:10px;
height:10px;

border-radius:50%;

background:#22c55e;

}

.address-data{

flex:1;
min-width:0;

}

.name{

font-size:16px;
font-weight:700;
color:#111827;

}

.mobile{

font-size:14px;
margin-top:5px;
color:#374151;

}

.full-address{

font-size:14px;
line-height:22px;
margin-top:7px;
color:#6b7280;

}

/* FOOTER */

.footer{

position:fixed;

left:0;
bottom:0;

width:100%;

padding:12px 14px calc(12px + env(safe-area-inset-bottom));

background:#fff;

border-top:1px solid #e5e7eb;

z-index:99;

box-sizing:border-box;

}

.next-btn{

width:100%;

height:52px;

border:none;

border-radius:14px;

background:#16a34a;

color:#fff;

font-size:16px;
font-weight:700;

cursor:pointer;

}

.next-btn:disabled{

opacity:.5;
cursor:not-allowed;

}

/* FORM */

form{

background:#fff;
border-radius:18px;

}

.form-group{

display:flex;
flex-direction:column;

margin-bottom:16px;

}

.form-group label{

font-size:14px;
font-weight:600;

margin-bottom:7px;

color:#111827;

}

.form-group input,
.form-group textarea,
.form-group select{

width:100%;

border:1px solid #d1d5db;

border-radius:12px;

padding:12px;

font-size:14px;

box-sizing:border-box;

background:#fff;

}

.form-group textarea{

height:95px;

resize:none;

}

.readonly-input{

background:#f3f4f6;

}

.error{

font-size:12px;
color:red;

margin-top:5px;

}

.map-btn{

width:100%;

height:50px;

border:none;

border-radius:14px;

background:#2563eb;

color:#fff;

font-size:15px;
font-weight:700;

cursor:pointer;

margin-bottom:16px;

}

.btn-row{

display:flex;
gap:12px;

padding-bottom:10px;

}

.cancel-btn,
.save-btn{

flex:1;

height:50px;

border:none;

border-radius:14px;

font-size:15px;
font-weight:700;

cursor:pointer;

}

.cancel-btn{

background:#ef4444;
color:#fff;

}

.save-btn{

background:#16a34a;
color:#fff;

}

/* MAP POPUP */

.map-popup{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.55);

display:flex;
align-items:center;
justify-content:center;

padding:12px;

z-index:999;

box-sizing:border-box;

}

.map-box{

width:100%;
max-width:700px;

max-height:95vh;

overflow:auto;

background:#fff;

border-radius:18px;

padding:14px;

box-sizing:border-box;

}

.map-top{

display:flex;
justify-content:flex-end;

margin-bottom:12px;

}
.map-search-wrap{

position:relative;

width:100%;

margin-bottom:14px;

}

.map-search-wrap input{

width:100%;

height:52px;

padding:
0 16px
0 46px;

border:2px solid #d1d5db;

border-radius:16px;

font-size:15px;

font-weight:500;

outline:none;

background:#ffffff;

box-sizing:border-box;

transition:.2s;

box-shadow:
0 2px 8px rgba(0,0,0,.04);

}

.map-search-wrap input:focus{

border-color:#16a34a;

box-shadow:
0 0 0 4px rgba(34,197,94,.12);

}

.map-search-wrap::before{

content:"\ea6d";

font-family:"remixicon";

position:absolute;

left:16px;
top:50%;

transform:translateY(-50%);

font-size:18px;

color:#6b7280;

z-index:2;

}

/* SEARCH DROPDOWN */

.search-dropdown{

position:absolute;

top:58px;
left:0;

width:100%;

background:#fff;

border:1px solid #e5e7eb;

border-radius:16px;

overflow:hidden;

max-height:260px;

overflow-y:auto;

z-index:1000;

box-shadow:
0 10px 30px rgba(0,0,0,.12);

}

.search-item{

padding:14px 16px;

font-size:14px;

line-height:22px;

color:#111827;

cursor:pointer;

border-bottom:1px solid #f3f4f6;

transition:.15s;

}
.address-type-wrap{

display:flex;

gap:12px;

margin-top:6px;

flex-wrap:wrap;

}

.type-card{

min-width:90px;

height:82px;

padding:10px;

border:1px solid #e5e7eb;
 

background:#fff;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

gap:8px;

cursor:pointer;

transition:.2s;

user-select:none;

}

.type-card i{

font-size:24px;

color:#4b5563;

transition:.2s;

}

.type-card span{

font-size:13px;

font-weight:600;

color:#374151;

}

.type-card.active{

border-color:#facc15;
 

}
.card-top{

display:flex;

align-items:flex-start;

justify-content:space-between;

margin-bottom:10px;

}
.card-actions{

display:flex;
float:right;
align-items:center;

gap:8px;

}

.delete-btn{

width:36px;
height:36px;

border:none;

border-radius:10px;

background:#fef2f2;

display:flex;

align-items:center;

justify-content:center;

cursor:pointer;

flex-shrink:0;

}

.delete-btn i{

font-size:18px;

color:#dc2626;

}
.edit-btn{

width:36px;
height:36px;

border:none;
 

border-radius:10px;
background:lightyellow;
float:right;
display:flex;

align-items:center;

justify-content:center;

cursor:pointer;

flex-shrink:0;

}

.edit-btn i{

font-size:18px;
color:#facc15;
 

}
.type-card.active i{

color:#facc15;

}

.type-card.active span{

color:#166534;

}

@media(max-width:500px){

.type-card{

flex:1;

min-width:0;

height:65px;

}

}
.search-item:last-child{

border-bottom:none;

}

.search-item:hover{

background:#f9fafb;

}
.map-top button{

height:28px;

padding:0 14px;

border:none;
 

background:#111827;

color:#fff;

font-weight:600;

cursor:pointer;

}

#map{

height:380px;

border-radius:14px;

margin-top:12px;

}

.search-dropdown{

border:1px solid #ddd;

border-radius:12px;

margin-top:6px;

max-height:180px;

overflow:auto;

}

.search-item{

padding:11px;

font-size:13px;

border-bottom:1px solid #eee;

cursor:pointer;

}

.search-item:last-child{

border-bottom:none;

}

.map-footer{

display:flex;
gap:10px;

margin-top:14px;

}

.map-footer button{

flex:1;

height:48px;

border:none;

border-radius:12px;

font-weight:700;

cursor:pointer;

}

/* MOBILE */

@media(max-width:600px){

.address-page{

padding:12px;

padding-bottom:90px;

}

.name{

font-size:15px;

}

.mobile,
.full-address{

font-size:13px;

}

.add-address-btn{
height: 32px;
        font-size: 13px;

}

.next-btn{

height:50px;

font-size:15px;

}

#map{

height:300px;

}

.map-box{

padding:12px;

border-radius:16px;

}

}
.map-btn{

width:100%;

height:auto;

padding:14px 16px;

border:none;

border-radius:14px;

background:#ffffff;

color: orange;

font-size:15px;
font-weight:700;

cursor:pointer;

margin-bottom:16px;

display:flex;
align-items:center;
justify-content:center;
gap:8px;

}

/* BUTTON ROW */

.btn-row{

display:flex;
gap:12px;

padding-bottom:10px;

}

/* SAVE BUTTON LEFT */

.save-btn{

flex:1;

height:50px;

border:2px solid #16a34a;

border-radius:14px;

font-size:15px;
font-weight:700;

cursor:pointer;

background:#ffffff;

color:#111827;

}

/* CANCEL BUTTON RIGHT */

.cancel-btn{

flex:1;

height:50px;

border:2px solid #ef4444;

border-radius:14px;

font-size:15px;
font-weight:700;

cursor:pointer;

background:#ffffff;

color:#111827;

}


.page-loader{

display:flex;

justify-content:center;

align-items:center;

padding:60px 0;
z-index: 1000;
}

.loader{

width:42px;
height:42px;

border:4px solid #e5e7eb;

border-top:4px solid #16a34a;

border-radius:50%;

animation:spin .8s linear infinite;
z-index: 1000;
}

@keyframes spin{

100%{
transform:rotate(360deg);
}

}

/* EMPTY */

.empty-address{

padding:60px 20px;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

text-align:center;

background:#fff;

border-radius:20px;

border:2px dashed #d1d5db;

margin-top:10px;

}

.empty-address i{

font-size:54px;

color:#9ca3af;

margin-bottom:14px;

}

.empty-title{

font-size:20px;

font-weight:700;

color:#111827;

margin-bottom:6px;

}

.empty-subtitle{

font-size:14px;

line-height:22px;

color:#6b7280;

max-width:250px;

}

/* FORM */

form{

padding-bottom:95px;

}

/* STICKY FOOTER */

.btn-row{

position:fixed;

left:0;
bottom:0;

width:100%;

padding:
12px 14px
calc(12px + env(safe-area-inset-bottom));

background:#ffffff;

border-top:1px solid #e5e7eb;

display:flex;

gap:12px;

z-index:100;

box-sizing:border-box;

}

/* SAVE BUTTON */

.save-btn{

flex:1;

height:52px;

border:1px solid #16a34a;

border-radius:14px;

background:#ffffff;

color:#111827;

font-size:15px;
font-weight:700;

cursor:pointer;

}

/* CANCEL BUTTON */

.cancel-btn{

flex:1;

height:52px;

border:1px solid #ef4444;

border-radius:14px;

background:#ffffff;

color:#111827;

font-size:15px;
font-weight:700;

cursor:pointer;

}

.search-input-box{

  position:relative;

}

.search-input-box input{

  width:100%;

  padding-right:42px;

}

.clear-search-btn{

  position:absolute;

  right:10px;
  top:50%;

  transform:translateY(-50%);

  border:none;
  background:none;

  cursor:pointer;

  font-size:18px;

  color:#666;

}

.map-next-btn:disabled{

  opacity:.5;

  cursor:not-allowed;

}